In [6]:
# .Series()-> used to single dim array to series

import pandas as pd
data=[1,2,4,56,7,8]
series=pd.Series(data)
print("series \n",series)
print(type(series))

series
 0     1
1     2
2     4
3    56
4     7
5     8
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
# dictionary 

data ={'a':1,'b':2,'c':10}
series=pd.Series(data)
print(series)

a     1
b     2
c    10
dtype: int64

In [5]:

import pandas as pd
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [12]:
## dataframe==multiple rows and coloumn
abhi={
    'name':['a','b','c'],
    'age':[25,21,27],
    'palce':['hospet','kal','mysore']
}
df=pd.DataFrame(abhi)
print(df)
print(type(df))

  name  age   palce
0    a   25  hospet
1    b   21     kal
2    c   27  mysore
<class 'pandas.core.frame.DataFrame'>

In [3]:
#    .loc[]---row index
#     .iloc[]--coloumn index
import pandas as pd
ab={
    'name':['a','b','c'],
    'age':[25,21,27],
    'palce':['hospet','kal','bang']
}
df=pd.DataFrame(ab)
print(df)
print(type(df))

  name  age   palce
0    a   25  hospet
1    b   21     kal
2    c   27    bang
<class 'pandas.core.frame.DataFrame'>

In [21]:
df.loc[2]

name          c
age          27
palce    mysore
Name: 2, dtype: object

In [24]:
df.iloc[0]

name          a
age          25
palce    hospet
Name: 0, dtype: object

In [25]:
df['name']

0    a
1    b
2    c
Name: name, dtype: object

In [26]:
df.iloc[0][2]

C:\Users\abhil\AppData\Local\Temp\ipykernel_17680\2519637664.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][2]

'hospet'